	body{
		margin-left: 0px;
		margin-right: 0px;

	}
	h1,h2 {
		text-align: center;
		background-color: gray;
	}
	h3{
		margin: 20px; 
	}
	p{
		margin: 10px; 
	}
	a {
		color: black;
		text-decoration: none;
	}
	#selected {
		color: blue;
	}
	li{
		font-weight: bold; 
		margin: 5px;
	}
	div {
		text-align: center;
	}

	img{
		height: 25vh;
		width: auto;
	}
	video {
		width: 80vw;
		height: auto;
	}